[submodule "Fitervari_iOS"]
	path = Fitervari_iOS
	url = https://github.com/Fitervari/Fitervari_iOS
	branch = main
[submodule "Fitervari_Flutter"]
	path = Fitervari_Flutter
	url = https://github.com/Fitervari/Fitervari_Flutter
	branch = main
[submodule "Fitervari_Web"]
	path = Fitervari_Web
	url = https://github.com/Fitervari/Fitervari_Web
	branch = main
[submodule "Fitervari_Backend"]
	path = Fitervari_Backend
	url = https://github.com/Fitervari/Fitervari_Backend
	branch = main
